.section1 {
	display: flex;
	flex-direction: row;
	background-color: @lighterGreen;

	img {
        width: auto;
        height: 353px;
        background-color: @lighterGreen;
    }
    .imageAlign {
        display: flex;
        align-items: center;
        width: 167%;
    }
}

.textAndButton {
    .sectionFormat();
    .buttonFormat();
	background-color: @lighterGreen;
	// border-radius: 30px;
	img, h1, h3, p {
        margin-bottom: 0.7rem;
    }
	h3 {
		font-size: 1.8rem;
		color: @accentBlue;
	}

}

.section2 {
	.sectionFormat();
	.imgAndText {
		display: flex;
		flex-direction: row;
    }
    .textAndButton {
        background-color: @lightestGreen;
    }
	// display: flex;
	// flex-direction: row;
	background-color: @lightestGreen;
	h1 {
		text-align: center;
	}
	img {
		width: 50%;
		height: auto;
	}
}

.section3 {
	.sectionFormat();
	flex-direction: row;
	align-items: center;
	background-color: @lighterGreen;
	.historyList {
		.underlineText();
	}
	.headerAndButtons {
		.buttonFormat();
		display: flex;
		flex-direction: column;
		align-items: center;
		a, h1 {
			margin-bottom: 7%;
		}
		.premium {
			background: @green;
			color: @lightestGreen;
		}
	}
	img {
		width: 50%;
		height: auto;
	}
}