nav {
    display: flex;
    flex-direction: row;
    .mobile-view();
    justify-content: space-between;
    background-color: @lightestGreen;
    .leftSideNav {
        display: flex;
        .mobile-view();
        max-width: 100%;
        height: 158px;
        background-color: @lightestGreen;
        align-items: center;
        @media @mobile {
            img {
                display: inline-block;
                margin-left: -10px;
                margin-left: 7px;
            }  
        }
    }
	img {
		width: 130px;
		height: auto;
        margin-left: 40px;
        margin-right: 23px;
    }
	a:hover {
		color: @lightAccBlue;
	}
	h2 {
		letter-spacing: 3px;
		font-weight: 700;
        font-size: 1rem;
        text-decoration: none;
		text-transform: uppercase;
		color: @accentBlue;
		padding: 15px;
    }
    
    .rightSideNav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 25%;
        max-width: 100%;
        background-color: @lightestGreen;
        align-items: center;
        @media @tablet {
            width: 30%;
        }
        @media @mobile {
            width: 100%;
            padding-left: 9%;
            padding-bottom: 5%;
            padding-top: 5%;
            border-top: 13px solid @accentBlue;
            justify-content: space-around;
        }

        .signUp {
            color: @darkGreen;
            text-decoration: underline;
            font-weight: 400;
        }
        .signIn {
            .buttonFormat();
            padding-right: 36px;
        }
    }
} 